@if(Faces != null)
{
    @foreach (var faceImage in FaceImages)
    {
        <img src=@faceImage.Value>
    }
}

@if(!IsVideo)
{
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" @bind=ForTraining id="ForTraining">
        <label class="form-check-label" for="ForTraining">@_t.SinglePersonInImage</label>
    </div>
}

@foreach (var tag in Tags)
{
    var color = Selected.ContainsKey(tag.PersonId) ? "btn-success" : "btn-secondary";
    <button type="button" class="btn btn-sm @color me-1 mb-1" @onclick=@(()=>OnTag(tag))>
        <span class="badge bg-warning text-dark">@_f.Display(tag.ImageCount)</span> @tag.Name
    </button>
}