<div id=@MEDIA_IMPORT class="col-md-6 col-sm-12 px-0 d-flex align-items-center justify-content-center">
    @if(Loading)
    {
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">@_t.Loading</span>
        </div>
    }
    else if(!string.IsNullOrWhiteSpace(CurrentImageUri))
    {
        <img class="img-fluid" src=@CurrentImageUri alt="Image to be uploaded">
    }
    else if(!string.IsNullOrWhiteSpace(CurrentVideoUri))
    {
        <video controls muted width=@Width height=@Height>
            <source src=@CurrentVideoUri>
        </video>
    }
</div>