@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Import)]

<div class="row min-vh-100 m-0">
    <div id=@IMAGE_IMPORT class="col px-0 d-flex align-items-center justify-content-center">
        <img class="img-fluid" src=@CurrentImageUri alt="">
    </div>
    <div class="col bg-primary">
        <h1>@_t.PageTitle</h1>
        Kontrole ovdje
    </div>
</div>